In [1]:
# For Loop
ax = [1,8,6,9,6,6]
for i in ax :
    print(i)

1
8
6
9
6
6

In [2]:
tup = (1,51,4,5,2,6)
for i in tup :
    print(i)

1
51
4
5
2
6

In [3]:
str = "String"
for i in str :
    print(i)

S
t
r
i
n
g

In [4]:
# print the elements of following list using a loop
lst = [1,5,9,7,3,6,85,9,2,1]
for i in lst:
    print(i)

1
5
9
7
3
6
85
9
2
1

In [ ]:
# search a number in tuple using loop ---> (1,8,9,3,6,1,2,8,9,5,1,4,85)
# Linear Search ---> search in single line
x = int(input("Enter a number"))
tup = (1,8,9,3,6,1,2,8,9,5,1,4,85)
idx = 0
for i in tup :
    if x == i :
        print("Found at index ",idx)
    idx += 1

In [ ]:
# range (start,stop,step)  ---> start by default 0 ---> stop = n-1 ---> step = 1 by default
seq = range(11)
for i in seq :
    print(i)

In [ ]:
for i in range(5): # stop = n-1
    print(i)

In [ ]:
for i in range(1,9): # Start , stop = n-1
    print(i)

In [ ]:
for i in range(3,31,3): # start , stop = n-1, step 
    print(i)

In [ ]:
# print even numbers from 1- 10 using range 
for i in range(1,11):
    if i%2 == 0:
        print(i)
         
print("All even numbers from  1 to 10")

In [ ]:
# we can also take range as user input
x = int(input("Enter a number"))
y = int(input("Enter a number"))
z = int(input("Enter a number"))
r = range(x,y,z)
for i in r :
    print(i)

In [ ]:
 # Using for & range()

In [ ]:
# WAP print numbers from 1-100
for i in range(1,101):
    print(i)

In [ ]:
# WAP print numbers from 100 - 1 
for i in range(100,0,-1):
    print(i)

In [ ]:
# WAP to print the multiplication table of a number n
ax = int(input("Enter a number"))
for i in range(1,11):
    print(ax,"X",i,"=",ax*i)

In [ ]:
 # Pass statement ---> null statement , used as placeholder for future
for i in range(5):
    pass
print("Empty")

In [ ]:
 # Pass statement ---> null statement , used as placeholder for future
if i > 5:
    pass
print("Empty")

In [ ]:
 # WAP to find the sum of first n natural numbers.
ax = int(input("Enter any number"))
sum = 0
for i in range(1,ax+1):
    sum+=i
print("total sum of " ,ax , "=",sum)

In [2]:
 # WAP to find the factorial of first n numbers.
ax = int(input("Enter any number"))
sum = 1
for i in range(1,ax+1):
    sum*=i
print("Factorial of ",ax,"=",sum)

Enter any number 88

Factorial of  88 = 185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000