In [1]:
# Function in Python

In [12]:
def cal_sum(a,b):
    sum = a+b
    print(sum)
    return sum

In [13]:
cal_sum(1,2)

3

3

In [14]:
cal_sum(8,9)

17

17

In [22]:
def cal_s(a,b): # function definition # a,b ---> parameters 
    return a+b

In [24]:
sum = cal_s(30,10) # function call ---> 30,10---> arguments
sum

40

In [33]:
# print hello
def print1():
     print("hello")

In [34]:
print1()
print1()
print1()
print1()

hello
hello
hello
hello

In [43]:
# WAP to make a function which calculate the average of 3 numbers
def average_cal(a,b,c):
    return (a+b+c) /3

In [45]:
average_cal(85,92,40)

72.33333333333333

In [47]:
a = float(input("Enter 1st value "))
b = float(input("Enter 2nd value "))
c = float(input("Enter 3rd value "))
average_cal(a,b,c)

Enter 1st value  68845
Enter 2nd value  5
Enter 3rd value  6

22952.0

In [54]:
 # Calculate the multiplication of two numbers
def cal(a,b=2): # 
    print(a*b)
    return a*b

In [57]:
cal(1)

2

2

In [62]:
 # WAF to print the length of a List
# ax = list(input(""))
def lis(a):
    print(len(a))
    return a

In [64]:
lis(["Ducati","BMW","Kawasaki","KTM","Bajaj","Yamaha","Hero"])

7

['Ducati', 'BMW', 'Kawasaki', 'KTM', 'Bajaj', 'Yamaha', 'Hero']

In [87]:
# WAF to print the elements of a list in a single line.
def list_single(list):
    print(len(list))

In [88]:
def print_list(list):
    for item in list:
        print(item, end = " ")

In [89]:
print_list(["Ducati","BMW","Kawasaki","KTM","Bajaj","Yamaha"])

Ducati BMW Kawasaki KTM Bajaj Yamaha

In [105]:
# WAF to find the factorial of n 
def factorial(a):
    sum = 1 
    for i in range(1,a+1):
        sum*=i
    print(sum)

In [107]:
factorial(4)

24

In [116]:
# WAP to convert USD to INR 
def usd_inr(a):
    ax = a*87.58
    print(a,"USD =",ax,"INR")
    return ax

In [118]:
usd_inr(100)

100 USD = 8758.0 INR

8758.0

In [121]:
# WAP to conver INR into USD
def inr_usd(b):
    bx = b/87.58
    print(b,"INR = ",bx,"USD")
    return bx

In [125]:
inr_usd(100)

100 INR =  1.1418131993605847 USD

1.1418131993605847