In [1]:
# List Methods

In [13]:
# append
x = ["Ajay","85","20","Himachal Pradesh"]
print("Before Append " ,x)
x.append("India")
print(x)

Before Append  ['Ajay', '85', '20', 'Himachal Pradesh']
['Ajay', '85', '20', 'Himachal Pradesh', 'India']

In [14]:
# sort  ----> Sort in assending order
x = [85,9,2,8,20,1,0]
x.sort()
x

[0, 1, 2, 8, 9, 20, 85]

In [18]:
# sort (reverse = true) ----> Sort in dessending order
x = [5,9,52,8,1,2]
x.sort(reverse = True)
x

[52, 9, 8, 5, 2, 1]

In [21]:
# reverse list ---> reverse the list as it is
x = [87,8,18,11,"Rohan","Delhi",88]
x.reverse()
x

[88, 'Delhi', 'Rohan', 11, 18, 8, 87]

In [24]:
#insert ---> insert element at index
x = [80,64,62,5,54,524,4]
x.insert(0,42)
x

[42, 80, 64, 62, 5, 54, 524, 4]

In [34]:
# remove  --->  removes the first occuring value in list

x = [45,22,47,20,22,85,22,"Abx","Delhi"]
x.remove(22) 
print("remove ",x)

remove  [45, 47, 20, 22, 85, 22, 'Abx', 'Delhi']

In [35]:
# pop ---> removes value by indexing
x = [80,64,62,5,54,85,8,24,4]
x.pop(5)
print("pop",x)

pop [80, 64, 62, 5, 54, 8, 24, 4]

In [36]:
## Tuples ()

In [40]:
x = (1,8,5,6,5)
type(x)

tuple

In [42]:
# correct way to write a tuple
x = (1) # ---> this is int
type(x)

y = (1,)
type(y)

tuple

In [45]:
# slicing in tuple
x = (1,8,9,2,1,0,2,8,9,5)
print(x[2:5]) 
print(x[-5:-1])

(9, 2, 1)
(0, 2, 8)

In [46]:
# tuple methods

In [47]:
# index ---> find the index value of given  number
x = (8,9,55,2,8,2,185,85,9,6,3)
x.index(85)

7

In [48]:
# count ---> count how many times the element occures
x = (8,5,69,1,5,1,5,6,1,2,9,1,8,4,1,3,1,1,3,1,3,8,1,8)
x.count(1)

9